{% extends 'layoutshop.html' %} {% block head %}

<title>Add Product</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/addproduct.css') }}"
/>
{% endblock %} {% block body %}
<div class="add_product">
  <form
    action="{{ url_for('shop.addproduct') }}"
    method="POST"
    enctype="multipart/form-data"
  >
    {{ form.hidden_tag() }}
    <div style="display: flex; flex-wrap: wrap">
      <h3>Product Name</h3>
      <!-- <input
        type="text"
        id="product_name"
        placeholder="Product name"
        name="product"
        style="margin-left: 65px"
      /> -->
      {{ form.product_name(id="product_name", placeholder="Product name",
      style="margin-left: 65px") }}
    </div>
    <div style="display: flex; flex-wrap: wrap">
      <h3>Category</h3>
      <!-- <select name="cat" style="margin-left: 120px">
        <option value="other">Other</option>
        <option value="clothing">Clothing</option>
        <option value="tvs">TVs</option>
        <option value="electronics">Electronics</option>
        <option value="home_applicanes">Home Applicanes</option>
        <option value="furniture">Furniture</option>
      </select> -->
      {{ form.category(id="category", placeholder="Category",
      style="margin-left: 120px") }}
    </div>
    <div style="display: flex; flex-wrap: wrap">
      <h3>Quantity</h3>
      <!-- <input
        type="number"
        id="stock"
        placeholder="Remaining in stock"
        name="remaining_in_stock"
        style="margin-left: 18px"
      /> -->
      {{ form.quantity(id="quantity", placeholder="Quantity",
      style="margin-left: 120px") }}
    </div>
    <div>
      <h3>Price</h3>
      <!-- <input
        type="number"
        id="price"
        step="0.01"
        placeholder="Product price in {{currency_name}}"
        name="price"
        style="margin-left: 150px"
      /> -->
      {{ form.price(id="price", placeholder="Product price in EGP",
      style="margin-left: 150px") }}
      <br />
    </div>
    <div style="padding: 0px; display: flex; flex-wrap: wrap; margin-top: 1em">
      <h3 style="display: inline; margin: 1px; padding: 0px">Description</h3>
      <!-- <textarea
        placeholder="Description"
        id="description"
        name="discription"
        style="margin: 10px 90px"
      ></textarea> -->
      {{ form.description(id="description", placeholder="Description",
      style="margin: 10px 90px; height:220px") }}
    </div>
    <div style="padding: 0px; display: flex; flex-wrap: wrap; margin-top: 1em">
      <h3 style="display: inline; margin: 1px; padding: 0px">Image</h3>
      <br />
      <!-- <input type="file" id="fileToUpload" name="image" /> -->
      {{ form.image(id="fileToUpload", style="margin: 3px 140px;") }}
    </div>
    <!-- <input id="submit_btn" type="submit" value="Add product" disabled /> -->
    {{ form.submit(id="submit_btn") }}
  </form>
</div>
<script src="{{ url_for('static', filename='shop/addproduct.js') }}"></script>
{% if message %}
<script>
  alert('{{ message }}');
</script>
{% endif %} {% endblock %}
