{% extends 'layoutuser.html' %}
{% block head %} 
  <title>Cart</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}"/>
{% endblock %}

{% block name %}Cart{% endblock %}

{% block body %}
  {% if products %}
  <div id="items">
      <div class="itemscontainer">   
          {% for product in cart.products %}
          <div class="item" title="{{ product.product_name }}">
            <div>
            <!--#######################-->
            <!--link needs to be edited?-->                       
            <img src="{{ product.image.url }}" height="135" width="135"> 
            <!--still need to add link ref to the product-->
            <p style="font-size:22px; font-weight:bold; position:relative; top:5px;">Product name : {{ product.name }}</a></p>
            
            <button type="button" name="-" class="count" onclick="dec('{{product.product_id}}')">-</button>
              <p style="display:inline;">
                <span style="font-weight:bold; bottom:10px;">Quantity: {{product.quantity_incart}}</span>
              </p>
              <button id="{{product.product_name}}" type="button" name="+" class="count" onclick="inc('{{product.product_id}}')"
              {% if product.quantity_incart == product.quantity %}
                disabled="true"
              {% endif %} >+</button>             
              <p >Price: {{product.price * product.quantity_incart}} L.E</p>
            </div>  
          </div>
          {% endfor %} 
      </div>
  </div>    
  
  <div class="total">
    <p>TOTAL = {{total_price}} L.E</p>
    <br>
    <button type="submit" id="checkout_btn" name="proceed_to_checkout">
      <a href="{{ url_for('checkout') }}">Proceed to checkout</a>
    </button>
  </div>
  {% else %}
  <div>
    <p style="font-size:2.5rem; text-align:center">You don't have any products in your cart</p>
  </div>
  {% endif %}
  {% if products %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='cart.js') }}"></script>
  {% endif %}

{% endblock %}