{% extends 'layoutuser.html' %} {% block head %}
<title>Cart</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/cart.css') }}"
/>
{% endblock %} {% block name %}Cart{% endblock %} {% block body %} {% if
cart.products %}
<div id="items">
  <div class="itemscontainer">
    {% for product in products %}
    <div class="item" title="{{ product.product_name }}">
      <div>
        <img
          src="{{ url_for('uploaded_file', filename=product.image) }}"
          height="135"
          width="135"
        />
        <p
          style="
            font-size: 22px;
            font-weight: bold;
            position: relative;
            top: 5px;
          "
        >
          <a href="{{ url_for('productpage',product_id=product.product_id) }}"
            >Product name: {{ product.product_name }}</a
          >
        </p>

        <button id="minus{{ loop.index }}" type="button" name="-" class="count">
          {#
          <a
            href="{{ url_for('order.dec_product', product_id=product.product_id) }}"
            >-</a
          >
          #} -
        </button>
        <p style="display: inline">
          <span style="font-weight: bold; bottom: 10px"
            >Quantity: {{product.quantiy_purchesed}}</span
          >
        </p>
        <button id="plus{{ loop.index }}" type="button" name="+" class="count">
          {#
          <a
            href="{{ url_for('order.inc_product', product_id=product.product_id) }}"
            >+</a
          >
          #} +
        </button>

        <p>Price: {{ product.price }} L.E</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="total">
  <p id="total-price">Total = {{total_price}} L.E</p>
  <br />
  <button type="submit" id="checkout_btn" name="proceed_to_checkout">
    {# <a href="{{ url_for('order.checkout') }}">Proceed to checkout</a> #}
    Proceed to checkout
  </button>
  <div class="alert-message"></div>
</div>
{% else %}
<div>
  <p style="font-size: 2.5rem; text-align: center">
    You don't have any products in your cart
  </p>
</div>
{% endif %}
<script>
  const stocks = {{ stocks }}
</script>
<script src="{{ url_for('static', filename='js/cart.js') }}"></script>
{% endblock %}
