{% extends 'layoutuser.html' %}
{% block head %} 
    <title> Checkout </title>        
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checkout.css') }}"/>
{% endblock %}

{% block name %}Checkout{% endblock %}

{% block body %}
    
    <p class="text" style="font-size:25px">Thank you for shopping in <span style="color:#2C578F;">Vividly</span></p>
    <div>
        <form method="POST" action="{{ url_for('order.checkout') }}">
            <h3>Order Information:</h3>
            {{ form.hidden_tag() }}
            <div style="display: flex; flex-wrap: wrap">
              <!-- <input type="text" id="adress" placeholder="Address" name="adress" style="margin-left: 65px"/> -->
              {{ form.address(id="adress", placeholder="Address") }}
            </div>
            <div style="display: flex; flex-wrap: wrap">
                <!-- <input type="text" id="phone_number" placeholder="Phone Number" name="phone"/> -->
                {{ form.phone_number(id="phone_number", placeholder="Phone Number") }}
            </div>
            <!-- <input id="submit_btn" type="submit" value="Continue" disabled /> -->
            {{ form.submit(class="submit_btn") }}
            
            <!--
            <legend class="paymenttitle">Address</legend>
            <div>
            <input type="text" name="Billing" placeholder="Billing Address" class="address" >
            <br>
            <input type="text" name="Shipping" placeholder="Shipping Address" class="address"> 
            </div>
            <legend class="paymenttitle">PAYMENT INFORMATION</legend>
            <input type="text" class="Card" name="Card Number" placeholder="Card Number"> <br>
            <label for="date">Expiry Date</label>
            <input type="date" class="date" name="date" placeholder="Month" > <br>
            <input type="text" class="Card" name="Security Code" placeholder="Security Code"> 
            <input type="hidden" name="order_id" value="{{order.id}}"> -->
        </form>
            <fieldset class="Summery" >
                <legend class="Order legend">ORDER SUMMARY</legend>
                {% for product in cart.products %}
                <div class="product" style="border-bottom:0.5px solid #232732;">
                    <div class="productimage">
                        <!--#######################-->
                        <!--link needs to be edited?-->                       
                        <img src="{{ product_image.url }}" style="text-align : left;" width="70" height = "80" >
                    </div> <br>
                    <p class="order" >{{product.product_name}}</p>
                    <p class="quantity" >Quantity: {{product.quantity_incart}}</p>
                    <p class="price" >Price: {{product.price * product.quantity_incart}} L.E</p>                    
                </div>
                {% endfor %}
                <br>
                <p class="total">TOTAL = {{total_price}} L.E</p>
            </fieldset>
    </div>
       
    

{% endblock %}

