{% extends 'layoutuser.html' %} {% block head %}
<title>Contact us</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/contactus.css') }}"
/>
{% endblock %} {% block body %}
<div class="m">
  <form action="{{ url_for('contactus') }}" method="POST">
    <input type="text" class="in" name="subject" placeholder="Subject" />
    <br />

    <textarea
      name="message"
      cols="30"
      rows="10"
      placeholder="Message"
    ></textarea>
    {% if message%}
    <script>
      alert('{{message}}');
    </script>
    {% endif %}
    <div>
      <button type="submit">Contact us</button>
    </div>
  </form>
</div>
> {% endblock %}
