{% extends 'layoutshop.html' %}
{% block head %}
  <title>Edit Product</title>
  <link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/editproduct.css') }}"
/>
{% endblock %}

{% block name %}Edit product{% endblock %}

{% block body %}
  <div id="info_edit">
    <div id="product_image">
        <img src="{{ url_for('uploaded_file', filename=product.image) }}" alt="{{product.name}}" height="300" width="300" style="border-radius: 20px;">
    </div>
    <div class="edit_product">
        <form action="{{ url_for('editproduct', product_id=product.product_id) }}" method="PUT">
          <div>
            <h3>Product Name:</h3>
            <input type="text" id="product_name" value="{{product.product_name}}" name="product" style="margin-left: 65px;">
          </div>
          <div style="display:flex; flex-wrap:wrap;">
            <h3>Category:</h3>
            <select name="cat" style="margin-left: 120px;">
              <option value="Other" 
              {% if product.category == 'Other' %}
                selected
              {% endif %}>Other</option>
              <option value="Clothing"
              {% if product.category == 'Clothing' %}
                selected
              {% endif %}>Clothing</option>
              <option value="TVs"
              {% if product.category == 'TVs' %}
                selected
              {% endif %}>TVs</option>
              <option value="Electronics"
              {% if product.category == 'Electronics' %}
                selected
              {% endif %}>Electronics</option>
              <option value="Home Applicanes"
              {% if product.category == 'Home Applicanes' %}
                selected
              {% endif %}>Home Applicanes</option>
              <option value="Furniture"
              {% if product.category == 'Furniture' %}
                selected
              {% endif %}>Furniture</option>
            </select>
          </div>
          <div>
            <h3>Quantity:</h3>
            <input type="number" id="stock" value="{{product.quantity}}" name="quantity" style="margin-left: 117px;">
          </div>
          <div>
            <h3>Price</h3>
            <input type="number" id="price" step="0.01" value="{{product.price}}" name="price" style="margin-left: 150px;">
            <br>
          </div>
          <div style="display:flex; flex-wrap:wrap; margin-top: 1em;">
            <h3 style="display: inline-block; margin: 0px;padding: 0px;">Description:</h3>
            <textarea id="description" name="description" style="margin: 10px 90px;">{{product.description}}</textarea>
          </div>
          <!-- <div>
            <h3>Image:</h3>
            <input type="file" id="fileToUpload" name="image" value="{{product.image.url}}">
          </div> -->
          <input id="submit_btn" type="submit" value="Edit product">
        </form>
      </div>
  </div>
  <script src="../../../static/shop/editproduct.js"></script>
{% endblock %}


    
