<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}{% endblock %}
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/layoutshop.css') }}"
    />
  </head>

  <body>
    <div class="wrapper"></div>
    <div class="mobile-nav">
      <nav>
        <ul>
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('home') }}"> Home </a></li>
          <li><a href="{{ url_for('userdashboard') }}"> Profile </a></li>
          <li>
            <a href="{{ url_for('userdashboard') }}"> My Account </a> {% if
            current_user.is_seller %}
          </li>

          <li>
            <a href="{{ url_for('shopdashboard') }}"> My shop </a> {% endif %}
          </li>

          <li><a href="{{ url_for('shop.dashboard') }}"> My Products </a></li>

          {#
          <li><a href="{{ url_for('addproduct') }}"> Add Product </a></li>
          <li><a href="{{ url_for('addcoupon') }}"> Add coupon </a></li>
          <li><a href="{{ url_for('activecoupons') }}"> Active Coupons</a></li>
          #}
          <li><a href="{{ url_for('shop.orders') }}"> Orders </a></li>
          <li><a href="{{ url_for('auth.logout') }}"> Logout </a></li>

          {% else %}
          <li><a href="{{ url_for('home') }}"> Home </a></li>
          <li><a href="{{ url_for('auth.signup') }}">SignUp</a></li>
          <li><a href="{{ url_for('auth.login') }}"> Login </a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
    <header>
      <div class="logo-burger-search">
        <div class="burgers">
          <div class="burger burger-one"></div>
          <div class="burger burger-two"></div>
          <div class="burger burger-three"></div>
        </div>
        <div class="logo">
          <div class="BlackJack">
            <a id="BlackJack" href="{{ url_for('home') }}">Vividly</a>
          </div>
          <div class="official">
            <a id="official" href="{{ url_for('home') }}"
              >The Official online store</a
            >
          </div>
        </div>
      </div>

      <nav>
        <ul>
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('home') }}"> Home </a></li>
          <li><a href="{{ url_for('userdashboard') }}"> Profile </a></li>
          <li><a href="{{ url_for('contactus') }}"> Contact Us </a></li>
          <li><a href="{{ url_for('shop.getshopreport') }}"> Report </a></li>
          <li><a href="{{ url_for('auth.logout') }}"> Logout </a></li>
          {% else %}
          <li><a href="{{ url_for('home') }}"> Home </a></li>
          <li><a href="{{ url_for('auth.signup') }}">SignUp</a></li>
          <li><a href="{{ url_for('auth.login') }}"> Login </a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% if current_user.is_authenticated %}
    <section class="sidemenu">
      <h1 style="color: white; font-size: 23pt; text-align: center">My Shop</h1>
      <nav>
        <ul>
          <li><a href="{{ url_for('shop.dashboard') }}"> My Products </a></li>
          <li><a href="{{ url_for('shop.addproduct') }}"> Add Product </a></li>
          {#
          <li><a href="{{ url_for('addcoupon') }}"> Add coupon </a></li>
          <li><a href="{{ url_for('activecoupons') }}"> Active Coupons</a></li>
          #}
          <li><a href="{{ url_for('shop.orders') }}"> Orders </a></li>
          <li>
            <a href="{{ url_for('shop.getshopreport', ) }}">
              Show Transactions
            </a>
          </li>
        </ul>
      </nav>
    </section>
    {% endif %}

    <main role="main">
      <!-- <div id="upperinfo">
          
              <h1>{% block name %} {% endblock %}</h1>
            </div> -->

      <div id="info">{% block body %} {% endblock %}</div>
    </main>
    <script>
      var menu_open = false;
      const sidemenu = document.getElementsByClassName('sidemenu')[0];
      const header = document.getElementsByTagName('header')[0];
      const burgers = document.getElementsByClassName('burgers')[0];
      const main = document.getElementsByTagName('main')[0];
      const wrapper = document.getElementsByClassName('wrapper')[0];
      const mobile = document.querySelector('.mobile-nav');
      const search_input = document.querySelector('.search-field');
      const search_bar = document.querySelector('.search-bar');
      document.addEventListener('click', function (event) {
        if (
          !sidemenu.contains(event.target) &&
          menu_open &&
          event.target != burgers &&
          !burgers.contains(event.target)
        ) {
          for (let i = 0; i < burgers.children.length; i++) {
            burgers.children[i].classList.remove('clicked');
          }
          sidemenu.classList.remove('shown');
          main.classList.remove('shrink');
          wrapper.classList.remove('grey-out');
          menu_open = false;
        }
      });
      burgers.addEventListener('click', function () {
        if (!menu_open) {
          for (let i = 0; i < burgers.children.length; i++) {
            burgers.children[i].classList.add('clicked');
          }
          sidemenu.classList.add('shown');
          main.classList.add('shrink');
          wrapper.classList.add('grey-out');
          mobile.classList.add('open');
          menu_open = true;
        } else {
          for (let i = 0; i < burgers.children.length; i++) {
            burgers.children[i].classList.remove('clicked');
          }
          main.classList.remove('shrink');
          sidemenu.classList.remove('shown');
          wrapper.classList.remove('grey-out');
          mobile.classList.remove('open');
          menu_open = false;
        }
      });

      function resize() {
        const body = document.querySelector('body');
        if (header.clientHeight + main.clientHeight < body.clientHeight)
          document.querySelector(
            '.wrapper'
          ).style = `height:${body.clientHeight}px`;
        else
          document.querySelector('.wrapper').style = `height:${
            header.clientHeight + main.clientHeight + 6
          }px`;
      }

      const resizeObserver = new ResizeObserver((entries) => {
        resize();
      });

      // start observing a DOM node
      resizeObserver.observe(main);

      document.addEventListener('click', function () {
        if (search_input === document.activeElement) {
          search_bar.classList.add('focused');
        } else {
          search_bar.classList.remove('focused');
        }
      });
    </script>
  </body>
</html>
