<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log In</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
</head>
<body>
  <header>
    <div class="Container">
        <div id="header">
          <span><a id="BlackJack" href="{{ url_for('home') }}">Vividly</a></span>
          <span><a id="official" href="{{ url_for('home') }}">The Official online store</a> </span>
        </div>
    </div>
</header>


 
   <h1 >
    <div class="container">
     <h2> Log in </h2>
      
     <form action="{{ url_for('auth.login') }}" method="POST"> 
      {{ form.hidden_tag() }}
        <div>
       <!-- <input type="text" name="username" placeholder="Enter Username..."> -->
       {{ form.username(placeholder="Username...") }}
      </div>
      <div>
       <!-- <input type="password" name="password" placeholder="Enter Password..."> -->
       {{ form.password(placeholder="Password...") }}
      </div>
      <div>
       {# <button type="submit"  name="submit" class="button_1">Login</button> #}
       {{ form.submit(class_="button_1") }}
      </form>

        {% if message %}
          <p style="color:red">{{ message }}</p>
        {% endif %}
        {% for error in form.errors %}
          <p style="color:red">
            {{ error }}: {{ form.errors[error][0] }}
          </p>
        {% endfor %}
      <p> Haven't signed up yet? </p>
      <button class="button_1" > 
        <a href="{{ url_for('auth.signup') }}">Sign up now !</a>
      </button>
     </div>
    </h1>

 

</body>
</html>
