{% extends 'layoutshop.html' %} {% block head %}
<title>My Products</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/shopdashboard.css') }}"
/>
{% endblock %} {% block name %} My Products {% endblock %} {% block body %} {%
if products %}
<div id="items">
  <div class="itemscontainer">
    {% for product in products %}
    <div class="item" title="{{ product.name }}">
      <div style="overflow: auto">
        <img
          src="{{ url_for('uploaded_file', filename=product.image) }}"
          height="135"
          width="135"
        />
        <p
          style="
            font-size: 20px;
            font-weight: bold;
            position: relative;
            top: 5px;
          "
        >
          <a
            href="{{ url_for('productpage', product_id=product.product_id) }}"
            class="name"
            >Product name : {{ product.product_name }}
          </a>
        </p>
        <p>
          <span style="font-weight: bold">Price : </span>
          {{product.price}} EGP
        </p>
        <div>
          <p>
            <span style="font-weight: bold">Description : </span>
            {{product.description}}
          </p>
          <br />
          {% if product.quantity == 0 %}
          <span
            style="
              background-color: red;
              color: white;
              display: inline-block;
              width: 60px;
              height: 25px;
              text-align: center;
              padding-top: 5px;
              border-radius: 15px;
            "
            >Sold</span
          >
          {% endif%}
        </div>
      </div>
      {% if current_user.user_id == product.user_id %}
      <div style="display: flex">
        <div style="margin: auto 5em">
          <a
            class="edit"
            href="{{ url_for('editproduct', product_id=product.product_id) }}"
            >Edit</a
          >
        </div>
        <div style="margin: auto 5em">
          <a
            class="remove"
            href="{{ url_for('removeproduct', product_id=product.product_id) }}"
            >Remove</a
          >
        </div>
      </div>
      {% endif %}
    </div>

    {% endfor %}
  </div>
</div>
{% else %}
<p style="font-size: 2.5rem; text-align: center">
  Your shop doesn't have any products yet
</p>
{% endif %} {% endblock %}
