{% extends 'layoutshop.html' %} {% block head %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ shop.shop_name }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/shop.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
  </head>
  {% endblock %}
  {% block body %}

    {#
    <div class="shop_info" title="{{ shop.name }}">
      <p><span style="font-weight: bold">Shop name : </span> {{shop.name}}</p>
      <p>
        <span style="font-weight: bold">Shop address : </span> {{shop.address}}
      </p>
      <p>
        <span style="font-weight: bold">Shop description : </span>
        {{shop.description}}
      </p>
    </div>
    #}

    <h1 class="shop_info">{{ shop.shop_name }}</h1>
    <div class="items" style="margin-bottom: 50px">
      {% for product in products %}
      <div class="item" title="{{ product.name }}">
        <img
          src="{{ url_for('uploaded_file', filename=product.image) }}"
          height="135"
          width="135"
        />
        <p
          style="
            font-size: 25px;
            font-weight: bold;
            position: relative;
            top: 5px;
          "
        >
          <a
            href="{{ url_for('productpage',product_id=product.product_id) }}"
            class="product-name"
            >Product name: {{ product.product_name }}</a
          >
        </p>
        <p>
          <span style="font-weight: bold">Price : </span>
          {{ product.price }} EGP
        </p>
        <p>
          <span style="font-weight: bold">Description : </span>
          {{product.description}}
        </p>
      </div>
      {% endfor %}
    </div>
    <footer class="info">
      <p class="seller">
        <span style="font-weight: bold">Address:</span> {{shop.address}}
      </p>
      <p class="seller">
        <span style="font-weight: bold">Description:</span> {{shop.description}}
      </p>
      <p class="seller">
        <span style="font-weight: bold">Email:</span>
        {{ shop_owner.email }}
      </p>
    </footer>
    {% endblock %}
