<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css' )}}" />
  <title>Sign Up</title>
  
</head>
<body>
  <div>
    <header>
      <div class="Container">
          <div id="header">
            <span><a id="BlackJack" href="{{ url_for('home') }}">Vividly</a></span>
            <span><a id="official" href="{{ url_for('home') }}">The Official online store</a> </span>
      </div>
      
  <nav> <ul style="margin-top:12px;"> 
      {% if current_user.is_authenticated %}
        <li> <a href="{{ url_for('home') }}"> Home </a> </li>
        <li> <a href="{{ url_for('userdashboard') }}"> Profile </a></li>
        <li> <a href="{{ url_for('contactus') }}"> Contact Us </a></li>
        <li> <a href="{{ url_for('auth.logout') }}">  Logout  </a> </li> 
      {% else %}
        <li><a href="{{ url_for('home') }}"> Home </a></li>
        <li> <a href="{{ url_for('auth.signup') }}">SignUp</a></li>
        <li> <a href="{{ url_for('auth.login') }}">  Login  </a> </li>
      {% endif %}
  </ul> </nav>
      </div>
  </header>
  </div>
   <h1 id="m9">
     <div id="m99">
     <p id="signup"> Sign up </p>
   
    <form id="form" method="post" action="{{ url_for('auth.signup') }}">
      {{ form.hidden_tag() }}
      <!-- <input type="text" id="first_name" name="first_name" placeholder="Enter your first name"> -->
      {{ form.first_name(id="first_name", placeholder="Enter your first name") }}
      
      <!-- <input type="text" id="last_name" name="last_name" placeholder="Enter your last name"> -->
      {{ form.last_name(id="last_name", placeholder="Enter your last name") }}
      <br>
      
      <!-- <input type="email"  id="email" name="email" placeholder="Enter Email"> -->
      {{ form.email(id="email", placeholder="Enter Email") }}
      
      <!-- <input type="text" id="username" name="username" placeholder="Username"> -->
      {{ form.username(id="username", placeholder="Username") }}
      <br>
      
      <!-- <input type="password" id="password" name="password" placeholder="Enter Password"> -->
      <!-- <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm password"> -->
      {{ form.password(id="password", placeholder="Enter password") }}
      
      {{ form.confirm_password(id="confirm_password", placeholder="Confirm password") }}
      <br>

      {{ form.shop_name(id="shop_name", placeholder="Enter your shop name") }}
      <br>

      <!-- <input type="text" id="address" name="address" placeholder="Address"> -->
      {{ form.address(id="address", placeholder="Enter your address") }}
      <br>

      {{ form.phone_code(id="phone_code", placeholder="Enter your phone code") }}
      {{ form.phone_number(id="phone_number", placeholder="Enter your phone number") }}
    
      {% if message %}
      <div>
        <p style="font-size: 0.9rem; text-align: center; color:red">
          {{message}}
        </p>
      </div>
      {% endif %}
      {% for error in form.errors %}
        <p style="color:red; font-size: 0.9rem; width: 90%; margin:0.5rem auto;">
          {{ error }}: {{ form.errors[error][0] }}
        </p>
      {% endfor %}
      {{ form.submit(class_="signup_btn") }}  
    </form>

      <p style="display: inline-block; font-weight: lighter; font-size: 15px; margin-top: -80px; margin-left: -20px;">Have an account?</p>
      <button form="" formmethod="get" class="login_btn" disabled><a href="{{ url_for('auth.login') }}">Log in</a></button>
      </div>    
    </div>
     </div>
   </h1>
</body>
</html>