*{
  font-family: 'Ubuntu', sans-serif;
}
.add_product {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

form {
  /* text-align:center; */
  padding-left: 15px;
  padding-right: 10px;
  font-size: 14pt;
}
h3 {
  display: inline;
}
input[type='text'],
input[type='number'],
select {
  width: 300px;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 5px;
}
textarea {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input[type='file'] {
  margin-top: 20px;
}
#submit_btn {
  display: block;
  margin: 20px;
  margin-left: 0;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  background: #2c578f;
  color: white;
  font-weight: bold;
}
#submit_btn:disabled,
#submit_btn[disabled] {
  color: #ccc;
  cursor: default;
}
input[type='submit']:hover {
  cursor: pointer;
  color: #fff;
}
