#items
{
overflow: hidden;
width:710px; 
margin:10px auto 10px auto;

}

.item
{
width:700px;
height:auto;
background-color:white;
border:5px solid #2C578F;
border-radius: 2px;
margin:0.5em 0em;

}

.item a{
    color:black;
    text-decoration: none;
}

.item a:hover{
    color:#2C578F;
};

.itemscontainer
{
    border:navy;
}

.item p
{
    color:#2C578F;
    font-size:17px;
    position:relative;
    top:17px;
    margin:1px;
}
.item img
{
    float:left;
    height:135px;
    margin-right:5px;
}
.total
{
    font-size:30px;
    font-weight:bold;
    color:#2C578F;
    width:700px;
    background-color:white;
    border:5px solid #2C578F;
    border-radius: 2px;
    padding-bottom: 10px;
    text-align: center;
    margin:10px auto 10px auto;

}
a {
    text-decoration: none;
    font-weight: inherit;
    font-size: 1rem;
}
  
a:visited {
    color: inherit;
}
.count{
display:inline;
bottom:-17px; 
position:relative; 
margin-left:2px;
width:25px;
margin-bottom: 5px; 
}
.deactivate{
width:120px;
height:30px;
background-color :#2C578F;
font-weight:bold; 
margin-left:60%;
margin-bottom:0.5em;
color:#BDD5F1;
border-radius:10px;
}
.deactivate:hover{
color: #FFF;
cursor: pointer;
}
.new_price{
visibility: hidden;
}
#checkout_btn{
height:40px;
width:337px;
margin-left:5px;
font-weight:bold;
border-radius: 2px;
color:white;
background-color: #2C578F;
cursor: pointer;
}