body {
    margin: 0px;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: center;
    padding-right: 0%;
    background: #bdd5f1;
    width: 30%;
    margin-top: 10%;
    border: 6px solid #2c578f;
    border-radius: 5px;
  }

h3 {
    margin: 0.65em;
}

input {
    outline: none;
    padding: 5px;
    border-radius: 10px;
    border-color: white;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.submit_btn {
    border-radius: 10px;
    background: #2c578f;
    margin: auto;
    margin-bottom: 10px;
    /* display: inline-block; */
    text-decoration: none;
    color: white;
    /* font-weight: bold; */
    width: 120px;
    height: 35px;
}

a {
    text-decoration: none;
    font-weight: inherit;
    font-size: 1rem;
}
  
a:visited {
    color: inherit;
}