*{
    font-family: 'Ubuntu', sans-serif;
}
body {
    margin: 0px;
}

.text{
    text-align : center; 
    margin : 10px;
    padding: 5px;
    font-size:400px;
    font-style: italic;
    font-weight: bold ;
}
.Checkout
{
    text-align : center; 
    padding :10px;
    margin : 20px 20px 50px 20px;
    height : 500px;
}
.product
{
    text-align:left;
}
.productimage
{
    text-align:left;
    display : inline-block;
    margin:10px;
}
/* .order
{
    margin:1px;
    padding:1px;
} */
.price
{
    font-size : 120%;
    text-align : right;
    color: red;
}
.Shipping Info
{ 
    margin-left: 0px;
}
.Shipping {
    display: inline-block;
    width: 20%;
}
.address
{
    height: 50px;
    width:70%;
    margin : 4px;
}
/*.Card
{
    height: 50px;
    width:70%;
    margin : 4px;
}
.date
{
    height: 50px;
    width:60.5%;
}*/
/* .submit
{
    height: 70px;
    width : 400px;
    font-weight: bold;
    font-size:xx-large;
    margin:5px 0px 20px 5px;
    text-align : center; 
    display: inline-block;
    border-radius: 5px;
    background-color: #2C578F;
    color: white;
    border: none;
    cursor: pointer;
} */
.Summery 
{
    width: 45%;
    border-radius: 10px;
    margin-right: 7%;
    margin-top: 2%;
    float:right;
    margin-bottom: 2rem;
}
.info_form {
    display: inline-block;
    width: 40%;
    margin-left: 1rem;
}
.total {
    text-align:right;
    font-weight:bold; 
    font-size:20px ;
    width: 150px;
    text-decoration : underline;
    margin-left: calc(50% - 75px);
}
.information {
    width: 200px;
    margin-left: calc(50% - 100px);
    margin-bottom: 5%;
    margin-top: 10%;
    display: block;
    color: #2c578f;
}

h3 {
    margin: 0.65em;
}

input {
    outline: none;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10%;
    width: 100%;
}

.submit_btn {
    border-radius: 10px;
    background: #2c578f;
    /* display: inline-block; */
    text-decoration: none;
    color: white;
    /* font-weight: bold; */
    width: 120px;
    height: 35px;
    margin-left: calc(50% - 60px);
}

a {
    text-decoration: none;
    font-weight: inherit;
    font-size: 1rem;
}
  
a:visited {
    color: inherit;
}