input[type='text'],
textarea {
  display: block;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}
.m {
  margin-left: auto;
  margin-right: auto;
  color: black;
  padding-right: 0%;
  background: #bdd5f1;
  width: 40%;
  margin-top: 10%;
  border: 6px solid #2c578f;
  border-radius: 5px;
}
.in {
  margin-top: 20px;
}
button {
  border-radius: 10px;
  background: #2c578f;
  margin-left: 30%;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  width: 120px;
  height: 30px;
  color: #fff;
}
button:hover {
  cursor: pointer;
  color: #fff;
}
