html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
}
.Container {
  overflow: hidden;
}

header {
  background-color: #232732;
  color: #ffffff;
  border-bottom: #bfb367 6px solid;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

header #webname {
  font-weight: bold;
  font-size: 36pt;
  color: white;
  float: left;
  margin-left: 50px;
}

header .official {
  color: #bfb367;
  font-size: 1rem;
  font-weight: bold;
}

header #webname h1 {
  margin: 0;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  display: inline;
  padding: 0 20px 0 20px;
}

header a {
  text-decoration: none;
  color: #bfb367;
  text-transform: uppercase;
  font-size: 15pt;
}

header nav {
  float: right;
  padding-right: 30px;
}

header a:hover {
  color: white;
}

#upperinfo {
  text-align: center;
  border-bottom: solid 8px #bfb367;
  border-right: solid 8px #bfb367;
}

#info {
  border-right: solid 8px #bfb367;
  border-bottom: solid 8px #bfb367;
  font-weight: bold;
}

#official {
  color: #bfb367;
  margin-top: 10%;
  margin-bottom: 5%;
  display: inline;
  font-size: 1rem;
  text-transform: none;
}
#BlackJack {
  font-size: 40px;
  color: white;
  display: inline;
  text-transform: none;
}
#header {
  display: inline-block;
}
.art {
  display: block;
  background-color: #232732;
  margin-bottom: 10%;
  height: 35px;
  width: 150px;
  margin-left: 20%;
  color: white;
  font-weight: bold;
}
.re {
  width: 100px;
  height: 150px;
  margin-left: 30%;
}
.v {
  display: inline-block;
  border: #232732 1px solid;
  margin: 0%;
  width: 250px;
}
#main {
  margin-left: 25%;
  margin-top: 1%;
}
.ar {
  background: #232732;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 3%;
}
#current {
  background: white;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
#current a {
  text-decoration: none;
  color: #232732;
}
.ar a {
  text-decoration: none;
  color: white;
}
.but {
  margin-left: 40%;
  margin-bottom: 5%;
}
.search {
  display: block;
  margin-top: 50px;
  padding: 10px 0px;
  background-color: #f9f9f9;
}
#s {
  width: 65%;
  height: 30px;
  margin-left: 15%;
  border: 1px solid black;
  border-radius: 50px;
  outline: none;
  padding: 5px 10px;
}
#b {
  background-color: #232732;
  color: #bfb367;
  height: 35px;
  font-weight: bold;
  cursor: pointer;
}
#b:disabled,
#b[disabled] {
  color: #ccc;
  cursor: default;
}
h5 a {
  text-decoration: none;
  color: #232732;
}
h5 {
  color: #232732;
  text-align: center;
}
h1 {
  color: #232732;
  text-align: center;
  margin-bottom: 0%;
  margin-top: 2%;
}
h4 {
  display: inline;
  margin-right: 5%;
  margin-top: 5%;
}

.head {
  width: 100%;
  height: 30px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-evenly;
}

.cat h2 {
  margin-left: 1.8em;
}

.cathead {
  flex-basis: 200px;
  height: 30px;
  text-align: center;
}

.cathead h4 {
  margin-right: 0px;
  cursor: pointer;
}

#cur {
  background: #232732;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  color: #bfb367;
  text-decoration: none;
  border-radius: 10px;
}

.cat {
  margin-left: 3em;
  margin-bottom: 1em;
  display: none;
}

#cur_cat {
  display: block;
}

.event {
  border: 2px #bfb367 solid;
  margin-bottom: 1em;
  padding: 0em 0.5em 0.5em 0.5em;
  width: 90%;
  margin: 1em auto;
  font-size: 1.2rem;
}

.event_btn_container {
  background-color: #f9f9f9;
  margin: 0;
  padding-top: 0.2em;
  padding-bottom: 1em;
  padding-left: 47vw;
}

.event_btn {
  color: #bfb367;
  background-color: #232732;
  padding: 0.5em;
}
.event_btn:hover {
  cursor: pointer;
}
/*-----------------Footer------------*/

footer {
  background-color: #121212;
  color: lightgray;
  height: 370px;
}
.footer-widget {
  text-align: justify;
  margin: 0 10px;
}
.widget-title {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: white;
}
.cards {
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
}
.copyright {
  text-align: center;
  padding: 15px;
  background-color: black;
}
.copyright p {
  text-decoration: none;
  color: lightgray;
}
.copyright p a {
  color: lightgray;
}
.categories-widget,
.information-widget {
  margin-left: 50px;
}
.footer-widget ul {
  margin-left: 20px;
}
.footer-widget ul li {
  padding-bottom: 14px;
  text-decoration: none;
}
.footer-widget ul li a {
  color: lightgray;
}
.footer-widget ul li a:hover {
  color: white;
  margin-left: 10px;
  transform: all 0.4s ease;
}
.contact-address {
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
  line-height: 20px;
}
.contact-number,
.contact-email {
  margin: 10px 0;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}
.contact-number i,
.contact-email i,
.contact-address i {
  margin-right: 10px;
}
.social-widget {
  font-size: 30px;
  display: inline-block;
}
.social-widget a i {
  margin-right: 10px;
  color: lightgray;
}
.social-widget a i:hover {
  color: #f2eada;
  transition: all 0.5s ease;
  margin-right: 5px;
}
.icon i {
  font-size: 40px;
}
.features-section {
  padding: 90px;
  border: 1px solid lightgray;
  margin-left: 15px;
  box-shadow: -7px 9px 25px 0px rgba(0, 0, 0, 0.18);
  margin-bottom: 50px;
}

/*-------------------*/
/*-----------Bestseller-----------------*/
.collection span {
  padding: 5px;
  font-size: 19px;
  font-weight: 800;
  color: red;
}

.collection p {
  font-size: 16px;
  font-weight: 800;
  margin-left: 5px;
}
.card {
  border: none;
}

.cart {
  position: relative;
  height: 48px !important;
  width: 50px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 11px;
  border-radius: 5px;
  font-size: 14px;
  transition: 1s ease-in-out;
  overflow: hidden;
}
.buttons {
  padding: 10px;
  background-color: #d6d4d44f;
  border-radius: 4px;
  position: relative;
  margin-top: 7px;
  opacity: 0;
  transition: all 0.8s;
}

.cart-button.clicked span.dot {
  animation: item 0.3s ease-in forwards;
}

.cart-button {
  height: 48px;
}
.card:hover .buttons {
  opacity: 1;
}

.card:hover .weight {
  margin-top: 10px;
}

.card:hover {
  transform: scale(1.04);
  z-index: 2;
  overflow: hidden;
}
img {
  width: 100%;
  height: auto;
  vertical-align: middle;

  display: grid;
}
