*{
  font-family: 'Ubuntu', sans-serif;
}
header {
  background-color: #2c578f;
  color: #ffffff;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

header a {
  text-decoration: none;
  color: #bdd5f1;
  text-transform: uppercase;
  font-size: 15pt;
}

header a:hover {
  color: white;
}

header nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.7em 0.7em;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  padding: 1rem 1.2rem;
}

.logo-burger-search {
  display: flex;
}

.logo-burger-search .logo {
  display: flex;
}

.logo-burger-search .logo .official {
  padding-top: 1.4em;
}

.logo-burger-search .search-bar {
  display: flex;
  width: calc(100% - 30px - 20px - 30px - 352px - 523px);
  height: 22px;
  margin-top: 11px;
  margin-left: 10px;
  padding: 3px;
  padding-left: 6px;
}

.logo-burger-search .search-bar.focused {
  background-color: #eeeeee;
  border: none;
  outline: 2px solid #ffffff;
  color: white;
}

.logo-burger-search .search-bar .fa {
  font-size: 0.8rem;
}

.logo-burger-search .search-bar .search-form {
  width: 100%;
}

.logo-burger-search .search-bar .search-form .search-field {
  width: 100%;
  margin-left: 2px;
  height: 22px;
  color: white;
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
  background: transparent;
  border: none;
}

.logo-burger-search .search-bar .search-form .search-field:focus {
  border: none;
  outline: none;
  color: black;
}

.burgers {
  margin: auto 1em;
}

.burgers:hover {
  cursor: pointer;
}

.burgers .burger {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

#BlackJack {
  font-size: 40px;
  color: white;
  display: inline;
  text-transform: none;
  padding-left: 10px;
}

#official {
  color: #bdd5f1;
  margin-top: 10%;
  margin-bottom: 5%;
  display: inline;
  font-size: 1rem;
  text-transform: none;
}

.mobile-nav {
  visibility: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

.sidemenu {
  padding-right: 1.5em;
  background-color: #2c578f;
  text-align: left;
  text-decoration: none;
  position: fixed;
  z-index: 3;
  width: 250px;
  top: 45px;
  bottom: 0;
  left: -270px;
  transition: all 0.3s ease-in-out;
}

.sidemenu.shown {
  transform: translate(240px);
}

.sidemenu .dashboard {
  color: white;
  font-size: 1.8rem;
  margin: 0.5em 0.5em;
  margin-top: 40px;
  display: block;
}

.sidemenu a {
  text-decoration: none;
  color: #bdd5f1;
  padding: 8px 30px;
  display: block;
  font-size: 16pt;
  text-align: left;
  padding-left: 52px;
}

.sidemenu a:hover {
  color: white;
}

.sidemenu nav {
  text-align: left;
}

.sidemenu nav ul {
  padding: 0;
  margin: 0;
}

.sidemenu nav ul li {
  list-style: none;
  padding: 0 0.5em;
}

main {
  color: #232732;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 50px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

main.shrink {
  width: calc(100% - 232px);
  margin-left: 232px;
}

.wrapper {
  position: fixed;
  top: 45px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  opacity: 40%;
  visibility: hidden;
  z-index: 2;
}

.wrapper.grey-out {
  visibility: visible;
}

#upperinfo {
  text-align: center;
}

#info {
  font-weight: bold;
}

@media (max-width: 1028px) {
  header {
    display: block;
    height: 50px;
  }
  header .logo-burger-search .logo {
    position: fixed;
    width: 56vw;
    left: calc(22vw + 9px);
  }
  header .logo-burger-search .logo .BlackJack {
    text-align: center;
    width: 100%;
  }
  header .logo-burger-search .logo .official {
    width: 0;
    visibility: hidden;
  }
  header .logo-burger-search .burgers {
    position: fixed;
    top: 7px;
  }
  header .logo-burger-search .search-bar {
    visibility: hidden;
  }
  header nav {
    visibility: hidden;
  }
  .sidemenu {
    visibility: hidden;
  }
  .wrapper.grey-out {
    visibility: hidden;
  }
  main.shrink {
    width: 100%;
    margin-left: 0;
  }
  .mobile-nav {
    position: fixed;
    top: 45px;
    bottom: 0px;
    left: 0;
    opacity: 1;
    z-index: 3;
    background-color: #2c578f;
    overflow-y: scroll;
    visibility: hidden;
  }
  .mobile-nav.open {
    visibility: visible;
  }
  .mobile-nav nav {
    text-align: center;
    height: 50%;
    margin: 0 auto;
  }
  .mobile-nav nav ul {
    padding: 0;
    margin: 0;
  }
  .mobile-nav nav ul li {
    list-style: none;
    padding: 10px 0.5em;
  }
  .mobile-nav nav ul li a {
    font-size: 6vw;
    color: #bdd5f1;
    text-decoration: none;
  }
  .mobile-nav nav ul li a:hover,
  .mobile-nav nav ul li a:focus {
    color: white;
  }
}

@media (orientation: landscape) {
  .mobile-nav nav ul li a {
    font-size: 8vh;
  }
}
