*{
  font-family: 'Ubuntu', sans-serif;
}
#items {
  margin-left: 40px;
  overflow: auto;
}

.item {
  float: left;
  width: 700px;
  background-color: #bdd5f1;
  border: 5px solid #2c578f;
  margin: 3px;
}
.item .name {
  color: black;
  text-decoration: none;
}
.item .name:hover {
  color: #2c578f;
}
.itemscontainer {
  border: navy;
}

.item p {
  color: #232732;
  font-size: 17px;
  position: relative;
  top: 17px;
  margin: 1px;
}
.item img {
  float: left;
  height: 135px;
  margin-right: 5px;
}
.total {
  font-size: 30px;
  font-weight: bold;
  color: #232732;
  width: 680px;
  background-color: #bdd5f1;
  border: 5px solid #2c578f;
  margin: 23px 43px;
  padding-bottom: 10px;
  text-align: center;
}
.count {
  display: inline;
  bottom: -17px;
  position: relative;
  margin-left: 2px;
  width: 25px;
  margin-bottom: 5px;
}
#items {
  margin-left: 40px;
  overflow: auto;
}

.item {
  float: left;
  width: 700px;
  background-color: white;
  border: 5px solid #2c578f;
  background-color: #bdd5f1;
  margin: 3px;
  padding-bottom: 1em;
}
.itemscontainer {
  border: navy;
}

.item p {
  color: #232732;
  font-size: 17px;
  position: relative;
  top: 17px;
  margin: 1px;
}
.item img {
  float: left;
  height: 135px;
  margin-right: 5px;
}
.total {
  font-size: 30px;
  font-weight: bold;
  color: #232732;
  width: 680px;
  background-color: white;
  border: 5px solid #2c578f;
  margin: 23px 43px;
  padding-bottom: 10px;
  text-align: center;
}

.count {
  display: inline;
  bottom: -17px;
  position: relative;
  margin-left: 2px;
  width: 25px;
  margin-bottom: 5px;
}
.edit,
.remove {
  display: inline-block;
  width: 120px;
  /* height: 30px; */
  background-color: #2c578f;
  font-weight: bold;
  margin-left: 60%;
  color: white;
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin-bottom: 0.5em;
}

.edit:hover,
.remove:hover {
  color: #fff;
  cursor: pointer;
}
